$small: 550px;

.gm-style {
  .gm-style-iw-c {
    box-sizing: border-box;
    border-style: none;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    text-align: left;
    padding: 0.5em 1em !important;
    font-size: 1.3em;

    .gm-ui-hover-effect {
      display: none !important;
    }

    .gm-style-iw-d {
      padding: 0 !important;
      overflow: hidden !important;
    }

    @media screen and (max-width: $small) {
      max-width: 310px !important;
      font-size: 1em;
    }

    button {
      display: none;
    }

    .tag {
      background-color: #ccc;
      border-radius: 10px;
      padding: 0.1em 0.6em;
      white-space: nowrap;
    }

    .is-text-align-right {
      text-align: right;
    }

    h1 {
      font-size: 1em;
      border-bottom: solid 1px #eee;
      padding-bottom: 0.75em;

      .extra-info {
        float: right;
        font-weight: normal;
      }
    }

    table {
      font-weight: 400;
      box-sizing: border-box;
      width: 100%;
      border-spacing: 0 0.5em;

      @media screen and (max-width: $small) {
        border-spacing: 0 0.25em;
      }

      thead {
        tr {
          th {
            border-bottom: solid 1px #eee;
            padding: 0;
            padding-bottom: 0.75em;

            &:first-child {
              vertical-align: bottom;
            }

            @media screen and (max-width: $small) {
              padding-bottom: 0.5em;
            }

            .tag {
              font-weight: normal;
            }
          }
        }
      }

      tbody {
        tr:first-child {
          td {
            padding-top: 0.5em;
          }
        }

        tr {
          td {
            vertical-align: sub;
          }
        }
      }

      .padded {
        padding-left: 1em;
        padding-right: 1em;
      }

      .owner-type {
        box-sizing: border-box;
        background-color: #f1f1f1;
        border-radius: 4px;

        .fill {
          border-radius: 4px;
          padding: 0.5em;
          @media screen and (max-width: $small) {
            padding: 0.4em;
          }
          background-color: #bcbcbc;
          display: block;
          height: 100%;
          overflow-x: visible;
          white-space: nowrap;
          box-sizing: border-box;
        }
      }
    }
  }
}
